# hold-out

In [29]:
import seaborn as sns
import numpy as np
import pandas as pd
df = sns.load_dataset('tips')

In [30]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [31]:
y_col = 'tip'
X = df.drop(columns = [y_col])
# X.head()
y = df[y_col]
X.dtypes

total_bill     float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [32]:
# numeric_cols = ['total_bill', 'size']
# 標準化のため、数値カラムのリストを取得
numeric_cols = X.select_dtypes(include = np.number).columns.to_list()
numeric_cols

['total_bill', 'size']

In [33]:
# 数値カラムのリスト取得後にカテゴリ変数をダミー変数化
X = pd.get_dummies(X, drop_first=True)
X.head()

,total_bill,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,2,1,1,0,0,1,1
1,10.34,3,0,1,0,0,1,1
2,21.01,3,0,1,0,0,1,1
3,23.68,2,0,1,0,0,1,1
4,24.59,4,1,1,0,0,1,1

In [37]:
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 0)

In [42]:
print(len(X_train))
print(len(X_test))
print(len(y_train))
print(len(y_test))

170
74
170
74

In [46]:
# 標準化 (訓練データのみを使って標準化インスタンスをfitする)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# 数値カラムのみ
scaler.fit(X_train[numeric_cols])
X_train_scaled = X_train.copy()
X_train_scaled[numeric_cols] = scaler.transform(X_train[numeric_cols])

In [63]:
X_train

,total_bill,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
61,13.81,2,0,0,0,1,0,1
146,18.64,3,1,1,0,0,0,0
52,34.81,4,1,1,0,0,1,1
66,16.45,2,1,1,0,1,0,1
26,13.37,2,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...
67,3.07,1,1,0,0,1,0,1
192,28.44,2,0,0,0,0,0,0
117,10.65,2,1,1,0,0,0,0
47,32.40,4,0,1,0,0,1,1
172,7.25,2,0,0,0,0,1,1

In [60]:
X_train_scaled

,total_bill,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
61,-0.682321,-0.616436,0,0,0,1,0,1
146,-0.152575,0.463915,1,1,0,0,0,0
52,1.620922,1.544266,1,1,0,0,1,1
66,-0.392771,-0.616436,1,1,0,1,0,1
26,-0.730580,-0.616436,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...
67,-1.860266,-1.696786,1,0,0,1,0,1
192,0.922272,-0.616436,0,0,0,0,0,0
117,-1.028905,-0.616436,1,1,0,0,0,0
47,1.356598,1.544266,0,1,0,0,1,1
172,-1.401811,-0.616436,0,0,0,0,1,1

In [64]:
X_test_scaled = X_test.copy()
#testデータはfitしない
X_test_scaled[numeric_cols] = scaler.transform(X_test[numeric_cols])

In [65]:
# print(X_train_scaled.mean())
X_test_scaled.mean()

total_bill    -0.088666
size          -0.003263
sex_Female     0.445946
smoker_No      0.527027
day_Fri        0.135135
day_Sat        0.351351
day_Sun        0.324324
time_Dinner    0.756757
dtype: float64

In [61]:
X_test_scaled

array([[-0.26773756,  0.46391538],
       [-0.19096277,  1.54426626],
       [-0.05934885, -0.6164355 ],
       [-1.40181086, -1.69678639],
       [-0.41251287, -0.6164355 ],
       [-1.56632827, -0.6164355 ],
       [-0.23154373, -0.6164355 ],
       [ 0.36181571, -0.6164355 ],
       [-0.20631773,  0.46391538],
       [ 1.60337372,  1.54426626],
       [ 0.57568833, -0.6164355 ],
       [ 0.56801085, -0.6164355 ],
       [-0.65380507, -0.6164355 ],
       [-0.77116082, -0.6164355 ],
       [-0.72509594, -0.6164355 ],
       [ 1.13724107,  1.54426626],
       [-1.28116477, -0.6164355 ],
       [-0.66148255, -0.6164355 ],
       [-0.13722042, -0.6164355 ],
       [ 0.33658971,  0.46391538],
       [ 1.09995046,  0.46391538],
       [ 0.09749108, -0.6164355 ],
       [-0.44212601, -0.6164355 ],
       [-0.54741715, -0.6164355 ],
       [-0.7152249 , -0.6164355 ],
       [-0.3982547 , -0.6164355 ],
       [-0.86329056, -0.6164355 ],
       [ 1.07143411,  3.70496803],
       [ 0.57678512,  1.54426626],
       [-0.46735201, -0.6164355 ],
       [-0.58141741, -0.6164355 ],
       [-0.82819352, -0.6164355 ],
       [-0.5057394 , -0.6164355 ],
       [-1.03548544, -0.6164355 ],
       [-0.19096277, -0.6164355 ],
       [-0.72838629, -0.6164355 ],
       [-0.34012522,  0.46391538],
       [-1.06400179, -0.6164355 ],
       [ 3.10377244,  1.54426626],
       [-0.44431957,  0.46391538],
       [-1.25593877, -1.69678639],
       [-0.83367743, -0.6164355 ],
       [-0.47612627,  0.46391538],
       [ 1.07691802,  2.62461715],
       [-0.7974836 , -0.6164355 ],
       [-0.33573809,  0.46391538],
       [-0.19644668, -0.6164355 ],
       [ 0.16987874, -0.6164355 ],
       [-0.32477026,  0.46391538],
       [ 0.75117356,  1.54426626],
       [ 1.38730753, -0.6164355 ],
       [-0.23483408, -0.6164355 ],
       [ 0.05032942, -0.6164355 ],
       [ 3.08622392,  3.70496803],
       [-1.14406693, -0.6164355 ],
       [-0.87754874, -0.6164355 ],
       [ 1.08569229,  1.54426626],
       [ 0.07226508,  1.54426626],
       [-0.6329662 , -0.6164355 ],
       [-0.80845143, -0.6164355 ],
       [ 0.79504487, -0.6164355 ],
       [-0.46296488, -0.6164355 ],
       [ 0.12381386, -0.6164355 ],
       [ 0.54497842,  1.54426626],
       [ 1.10872472,  1.54426626],
       [-0.49367479, -0.6164355 ],
       [-0.39057722,  0.46391538],
       [ 1.40375927, -0.6164355 ],
       [-1.06400179,  0.46391538],
       [ 0.98040115, -0.6164355 ],
       [-0.51012653, -0.6164355 ],
       [-1.04425971, -0.6164355 ],
       [ 0.50001033,  1.54426626],
       [-0.62748228, -0.6164355 ]])

In [67]:
# 線形回帰
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_scaled, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [68]:
y_pred = model.predict(X_test_scaled)

In [69]:
X_test

,total_bill,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
64,17.59,3,0,1,0,1,0,1
63,18.29,4,0,0,0,1,0,1
55,19.49,2,0,1,0,0,1,1
111,7.25,1,1,1,0,1,0,1
225,16.27,2,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...
90,28.97,2,0,0,1,0,0,1
101,15.38,2,1,0,1,0,0,1
75,10.51,2,0,1,0,1,0,1
4,24.59,4,1,1,0,0,1,1
109,14.31,2,1,0,0,1,0,1

In [73]:
# 精度　MSE
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)
# np.mean(np.square(y_test-y_pred))

0.955080898861715

# LOOCV

In [77]:
from sklearn.model_selection import LeaveOneOut
# インスタンス生成
# .split()メソッドでイテレーション

In [78]:
# totral_billからtipsを予測
X = df['total_bill'].values.reshape(-1,1)
y = df['tip']

## LOOでの実行

In [79]:
loo = LeaveOneOut()

In [81]:
# generatorを生成している
loo.split(X)

In [83]:
# タプルが返ってくる
# 0番目をtest,それ以外をtrain
# 1番目をtest,それ以外をtrainといったもの
# だから以下をforループで使う
# list(loo.split(X))

In [86]:
model = LinearRegression()
mse_list = []
for train_index, test_index in loo.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    #データが一つしかないので、標準化は割愛
    
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    mse = mean_squared_error(y_test, y_pred)
    
    mse_list.append(mse)

In [90]:
np.mean(mse_list)
print(f"MSE(LOOCV):{np.mean(mse_list)}")
print(f"std:{np.std(mse_list)}")

MSE(LOOCV):1.0675673489857436
std:2.099794455177631

## CrossValidation 一発で交差検証してくれるライブラリver

In [94]:
from sklearn.model_selection import cross_val_score
cv = LeaveOneOut()
# scoreingにはstrもしくはcollable（関数）を与える
# 一般にはscoreing（評価指標）は値が高いほど良い
# しかし、MSEは誤差の2乗和なので値が大きいほど悪い、よってneg（マイナス）で見る
scores = cross_val_score(model,X, y, cv = cv, scoring='neg_mean_squared_error')

In [95]:
print(f"MSE(LOOCV):{- np.mean(scores)}")
print(f"std:{np.std(scores)}")

MSE(LOOCV):1.0675673489857436
std:2.099794455177631

# k-Fold CV
- LOOCVと少し異なり、全データをk個に分割してイテレーションされるイメージ

In [106]:
from sklearn.model_selection import KFold
k = 5 #defaultが5ではある
# random_stateを指定しないようにすると、kFoldの値が変わる
# k個の分割にランダム性があるため。
cv = KFold(n_splits=k, shuffle=True, random_state=0)

# 以下はloo.split(X)と同様にイテレーションのタプルを表している
# list(cv.split(X))

model = LinearRegression()
mse_list = []
for train_index, test_index in cv.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    # モデル学習
    model.fit(X_train, y_train)
    # テストデータの予測
    y_pred = model.predict(X_test)
    # MSE
    mse = mean_squared_error(y_test,y_pred)
    mse_list.append(mse)

In [107]:
# 各イテレーションでの損失の値
mse_list

[0.8213090642766288,
 1.0745842125927976,
 1.0880123892600384,
 1.3323867714930204,
 1.084763004349474]

In [108]:
print(f"MSE({k}FoldCV):{ np.mean(mse_list)}")
print(f"std:{np.std(mse_list)}")

MSE(5FoldCV):1.0802110883943918
std:0.16170100507039512

In [111]:
# n_jobsは並列計算に使用する CPU 
# -1は利用できる全て
scores = cross_val_score(model, X ,y, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)

In [113]:
print(f"MSE({k}FoldCV):{ - np.mean(scores)}")
print(f"std:{np.std(scores)}")

MSE(5FoldCV):1.0802110883943918
std:0.16170100507039514

# Repeated k-Fold CV
- k-Fold CVを複数回実施
- n_repeats引数に回数を指定する

In [115]:
from sklearn.model_selection import RepeatedKFold

In [117]:
# 5分割✖️３で15回
cv = RepeatedKFold(n_splits=k, n_repeats = 3, random_state=0)
model = LinearRegression()
mse_list = []
for train_index, test_index in cv.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    # モデル学習
    model.fit(X_train, y_train)
    # テストデータの予測
    y_pred = model.predict(X_test)
    # MSE
    mse = mean_squared_error(y_test,y_pred)
    mse_list.append(mse)

In [120]:
print(f"MSE({k}FoldCV):{ np.mean(mse_list)}")
print(f"std:{np.std(mse_list)}")

MSE(5FoldCV):1.0746387233165984
std:0.26517178540898434

In [121]:
scores = cross_val_score(model, X ,y, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)

In [122]:
print(f"MSE({k}FoldCV):{ - np.mean(scores)}")
print(f"std:{np.std(scores)}")

MSE(5FoldCV):1.0746387233165984
std:0.26517178540898434

### しかし、cross_val_scoreには分割と予測の計算が組み込まれてて、標準化する余地がなくない？？
- そこで登場するのが、、

# Piplineオブジェクト
- sklearnで用いる
- 複数の処理をまとめられる
- Piplineの中に（標準化ー＞モデル学習＆評価）
## Pipeline + KFold

In [130]:
from sklearn.pipeline import  Pipeline
pipeline = Pipeline(steps=[('scaler', StandardScaler()),('model', LinearRegression())])

cv = KFold(n_splits=5, shuffle=True, random_state=0)
scores = cross_val_score(pipeline, X, y, scoring='neg_mean_squared_error',cv=cv)

scores

array([-0.82130906, -1.07458421, -1.08801239, -1.33238677, -1.084763  ])

## hold-out でpipilineの違い
- 今回の例では特徴量一つなので本来は標準化不要

In [141]:
# Pipelineなし
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 0)

model = LinearRegression()
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
model.fit(X_train_scaled, y_train)
X_test_scaled = scaler.transform(X_test)
y_pred = model.predict(X_test_scaled)
mean_squared_error(y_test, y_pred)
print(y_pred)

[2.71486884 2.78639251 2.90900452 1.65836207 2.57999564 1.50509707
 2.74858715 3.30136293 2.77208778 4.45800284 3.50060744 3.49345507
 2.35520697 2.24587793 2.28879213 4.02375199 1.77075641 2.3480546
 2.83645908 3.2778623  3.98901192 3.05511716 2.55240794 2.45431834
 2.29798803 2.59327861 2.16004953 3.96244599 3.50162921 2.5289073
 2.42264357 2.19274606 2.49314547 1.99963215 2.78639251 2.28572683
 2.64743224 1.97306622 5.85577969 2.55036441 1.79425705 2.18763723
 2.52073317 3.96755482 2.22135553 2.65151931 2.78128368 3.12255376
 2.66173698 3.66409011 4.2567148  2.74552185 3.01118119 5.83943142
 1.89847725 2.14676656 3.97572896 3.03161652 2.37462053 2.21113786
 3.70496078 2.53299437 3.07963956 3.47199797 3.99718606 2.5043849
 2.60043097 4.2720413  1.97306622 3.87763935 2.4890584  1.99145802
 3.43010554 2.37972937]

In [143]:
# Pipelineあり
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 0)

pipeline = Pipeline(steps=[('scaler', StandardScaler()),('model', LinearRegression())])

pipeline.fit(X_train, y_train)
y_pred_p = pipeline.predict(X_test)
print(y_pred_p)

[2.71486884 2.78639251 2.90900452 1.65836207 2.57999564 1.50509707
 2.74858715 3.30136293 2.77208778 4.45800284 3.50060744 3.49345507
 2.35520697 2.24587793 2.28879213 4.02375199 1.77075641 2.3480546
 2.83645908 3.2778623  3.98901192 3.05511716 2.55240794 2.45431834
 2.29798803 2.59327861 2.16004953 3.96244599 3.50162921 2.5289073
 2.42264357 2.19274606 2.49314547 1.99963215 2.78639251 2.28572683
 2.64743224 1.97306622 5.85577969 2.55036441 1.79425705 2.18763723
 2.52073317 3.96755482 2.22135553 2.65151931 2.78128368 3.12255376
 2.66173698 3.66409011 4.2567148  2.74552185 3.01118119 5.83943142
 1.89847725 2.14676656 3.97572896 3.03161652 2.37462053 2.21113786
 3.70496078 2.53299437 3.07963956 3.47199797 3.99718606 2.5043849
 2.60043097 4.2720413  1.97306622 3.87763935 2.4890584  1.99145802
 3.43010554 2.37972937]