# hold-out

In [22]:
import seaborn as sns
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
df = sns.load_dataset('tips')

In [2]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [24]:
y_col = 'tip'
X = df.drop(columns= [y_col])
# 標準化のためのカラム
numeric_cols = X.select_dtypes(include=np.number).columns.to_list()
# ダミー変数の用意
X = pd.get_dummies(X, drop_first=True)
y = df[y_col]
# hold-outでtrain,testで分ける
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size= 0.3, random_state=0)

In [13]:
numeric_cols

['total_bill', 'size']

In [18]:
X.dtypes

total_bill     float64
size             int64
sex_Female       uint8
smoker_No        uint8
day_Fri          uint8
day_Sat          uint8
day_Sun          uint8
time_Dinner      uint8
dtype: object

In [20]:
X.head()

,total_bill,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,2,1,1,0,0,1,1
1,10.34,3,0,1,0,0,1,1
2,21.01,3,0,1,0,0,1,1
3,23.68,2,0,1,0,0,1,1
4,24.59,4,1,1,0,0,1,1

In [21]:
y.head()

0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
Name: tip, dtype: float64

In [29]:
# 標準化
# ※標準化はtrainデータだけで！
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = X_train.copy()
X_test_scaled = X_test.copy()
# 数値カラムのみ
X_train_scaled = scaler.fit_transform(X_train[numeric_cols])