# 特徴量スケーリング

In [1]:
# データのロード
import pandas as pd
df = pd.read_csv('sample_data2.csv')

In [2]:
df

   space       rent  age
0     20  13.958824    3
1     25  11.533805   13
2     28  14.269547   18
3     30  18.722680   10
4     36  19.602674    6
5     51  16.068166    1
6     55  23.183599    5
7     62  22.212595    2
8     83  29.357010    5
9    103  37.565129   23

In [4]:
X = df[['space','age']]
X

   space  age
0     20    3
1     25   13
2     28   18
3     30   10
4     36    6
5     51    1
6     55    5
7     62    2
8     83    5
9    103   23

In [10]:
# 標準化
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [12]:
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [17]:
X_scaled = scaler.transform(X)

In [23]:
X_scaled_df = pd.DataFrame(X_scaled, columns=X.columns)

In [20]:
# 線形回帰
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [24]:
y = df['rent']
#model.fit(X_scaled, y)
model.fit(X_scaled_df,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# 正規化

In [25]:
X

   space  age
0     20    3
1     25   13
2     28   18
3     30   10
4     36    6
5     51    1
6     55    5
7     62    2
8     83    5
9    103   23

In [28]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)

In [29]:
X_scaled

array([[0.        , 0.09090909],
       [0.06024096, 0.54545455],
       [0.09638554, 0.77272727],
       [0.12048193, 0.40909091],
       [0.19277108, 0.22727273],
       [0.37349398, 0.        ],
       [0.42168675, 0.18181818],
       [0.5060241 , 0.04545455],
       [0.75903614, 0.18181818],
       [1.        , 1.        ]])

In [31]:
X_scaled_df = pd.DataFrame(X_scaled, columns= X.columns)
X_scaled_df

      space       age
0  0.000000  0.090909
1  0.060241  0.545455
2  0.096386  0.772727
3  0.120482  0.409091
4  0.192771  0.227273
5  0.373494  0.000000
6  0.421687  0.181818
7  0.506024  0.045455
8  0.759036  0.181818
9  1.000000  1.000000